@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #3f28c6;
  --danger: #A42929;
  --nextui-box-shadow-medium: 0px 0px 15px 0px rgb(0 0 0 / 0.03), 0px 0px 30px 0px rgb(0 0 0 / 0.08), 0px 0px 0px 0px rgb(0 0 0 / 0.3);
  --nextui-danger: 0 60% 40%;
}
.bg-primary {
  background-color: #3f28c6 !important;
}
.bg-danger {
  background-color: #A42929 !important;
}

* {
  box-sizing: border-box;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
  font-size: 28px !important;
  content: "" !important;
}

.slick-prev,
.slick-next {
  width: 50px !important;
  height: 50px !important;
  z-index: 3;
}

.slick-next {
  /* right: -63px !important; */
}

.slick-prev {
  /* left: -63px !important; */
}

.slick-slide img {
  margin: 0 auto;
  max-height: 600px !important;
}

.slick-track
{
    display: flex !important;
}

.slick-slide
{
    height: inherit !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.slick-dots li {
  margin: 0px !important;
}
ol,
ul {
  list-style: auto !important;
}

ul {
  list-style: disc !important;
}

blockquote {
  border-left: 5px solid #f1f1f1 !important;
  padding-left: 5px !important;
}

.editorClassName {
  /* min-height: 300px; */
}

.editor-view p {
  min-height: 20px !important;
}

.contentEditable *:not(.popover-wrapper),
.contentEditable div:not(.popover-wrapper) *,
.contentEditable div:not(.popover-wrapper) span,
.answerWrapperArea *:not(.answer-wrapper):not([data-slot]) {
    color: black !important;
    white-space: inherit !important;
    background-color: inherit !important;
    font-family: inherit !important;
    font-size: inherit !important;
    /* line-height: initial !important; */
    /* display: inline !important; */
}

.contentEditable:focus-visible {
  outline: none;
}

.contentEditableDrag .popover-wrapper .drag-word{
  background-color: #EEEBFF !important;
  padding: 0px 5px;
  border-radius: 4px;
}

.answerWrapperArea:not(.fill-gaps-input-area) .answer-wrapper{
  background-color: #EEEBFF !important;
  padding: 2px 5px;
  border-radius: 4px;
  min-height: 25px;
  vertical-align: middle;
}

.answerWrapperArea .answer-wrapper.select-answer-wrapper {
  background-color: transparent !important;
  padding: 0px 5px;
}

.answer-wrapper .inputcustom input{
  color: black !important;
  font-size: 16px;
  padding-top: 3px;
}

/* .answerWrapperArea .answer-wrapper .inputcustom.isCorrect [data-slot="input-wrapper"]::after {
  background-color: rgb(23, 201, 100) !important;
  width: 100% !important;
}
.answerWrapperArea .answer-wrapper .inputcustom.isIncorrect [data-slot="input-wrapper"]::after {
  background-color: rgb(243, 18, 96) !important;
  width: 100% !important;
} */

/* .answerWrapperArea .answer-wrapper .inputcustom.isCorrect {
  background-color: rgb(23, 201, 100) !important;
  width: 100% !important;
}
.answerWrapperArea .answer-wrapper .inputcustom.isIncorrect {
  background-color: rgb(243, 18, 96) !important;
  width: 100% !important;
} */


.answerWrapperArea *:not(.answer-wrapper):not([data-slot]) .teacher-placeholer {
  color: gray !important;
}

.answerWrapperArea .answer-wrapper.mx-2.bg-success {
  background-color: #d1f4e0 !important;
}
.answerWrapperArea .answer-wrapper.mx-2.bg-error {
  background-color: #fdd0df !important;
}

/* .answerWrapperArea .answer-wrapper.mx-2.bg-success .success-placeholder {
  color: rgb(23, 201, 100) !important;
} */


.checkbox-test-option-success svg polyline {
  stroke: #fff;
}

.checkbox-test-option-success span:nth-child(2) svg polyline {
  stroke-dashoffset: 44 !important;
  transition: stroke-dashoffset 250ms linear 0.2s !important;
  /* opacity: 1 !important;
  transition-delay: 500ms !important; */
}

/* .checkbox-test-option-success span:nth-child(2)::after {
  opacity: 1 !important;
  transform: scale(1);
} */

.checkbox-test-option-danger span:nth-child(2)::after {
  opacity: 1 !important;
  transform: scale(1);
}
.checkbox-test-option-danger span:nth-child(2) img {
  opacity: 1 !important;
}


.editorClassName {
  /* padding: 14px; */
}

.editorClassName h1 {
  font-size: 28px;
  font-weight: 700;
}
.editorClassName h2 {
  font-size: 24px;
  font-weight: 700;
}
.editorClassName h3 {
  font-size: 18px;
  font-weight: 700;
}
.editorClassName h4 {
  font-size: 16px;
  font-weight: 700;
}
.editorClassName h5 {
  font-size: 13px;
  font-weight: 700;
}
.editorClassName h6 {
  font-size: 10px;
  font-weight: 700;
}

.radio-force-danger span{
  border-color: rgb(164, 41, 41) !important;
}

.radio-force-danger span:nth-child(1) {
  width: 8px !important;
  height: 8px !important;
  opacity: 1 !important;
  transform: scale(1) !important;
}

.radio-force-success span{
  border-color: rgb(94, 198, 111) !important;
}

.radio-force-success span:nth-child(1) {
  width: 8px !important;
  height: 8px !important;
  opacity: 1 !important;
  transform: scale(1) !important;
}

.z-50 {
  /* z-index: 9999999 !important; */
}

.data-\[hover\=true\]\:bg-default-200[data-hover="true"] {
  background-color: #eaeaea !important;
}

.group[data-focus="true"] .group-data-\[focus\=true\]\:bg-default-100 {
  background-color: #fefefe !important;
}


.chip-handle span {
  max-width: 800px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pswp img {
  /* max-width: 1200px !important; */
  height: initial !important;
  top: auto !important;
  left: auto !important;
  max-height: 600px;
}

.pswp__zoom-wrap {
  bottom: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

ol, ul {
  list-style-position: inside !important;
}

@media (min-width: 1024px) {
  .lg\:order-1 {
      order: 1;
  }
  .lg\:order-2 {
      order: 2;
  }
  .lg\:w-\[33\.33333\%\] {
    width: 33.33333%;
  }
}

.cs-message--outgoing .cs-message__sender-name, .cs-message--incoming .cs-message__sender-name {
  display: block !important;
}

.text-danger {
  color: #A42929 !important;
}

.match-word-column .text-success-foreground {
  color: #fff !important;
}