@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #3f28c6;
}

* {
  box-sizing: border-box;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
  font-size: 28px !important;
  content: "" !important;
}

.slick-prev,
.slick-next {
  width: 50px !important;
  height: 50px !important;
}

.slick-next {
  right: -63px !important;
}

.slick-prev {
  left: -63px !important;
}

.slick-slide img {
  margin: 0 auto;
  max-height: 600px !important;
}

ol,
ul {
  list-style: auto !important;
}

ul {
  list-style: disc !important;
}

blockquote {
  border-left: 5px solid #f1f1f1 !important;
  padding-left: 5px !important;
}

.editorClassName {
  min-height: 300px;
}

.editor-view p {
  min-height: 20px !important;
}

.contentEditable *:not(.popover-wrapper),
.contentEditable div:not(.popover-wrapper) *,
.contentEditable div:not(.popover-wrapper) span,
.answerWrapperArea *:not(.answer-wrapper):not([data-slot]) {
    color: black !important;
    white-space: inherit !important;
    background-color: inherit !important;
    font-family: inherit !important;
    font-size: inherit !important;
    line-height: inherit !important;
    display: inline !important;
}

.answer-wrapper .inputcustom.isCorrect [data-slot="input-wrapper"]::after {
  background-color: rgb(23, 201, 100) !important;
  width: 100% !important;
}
.answer-wrapper .inputcustom.isIncorrect [data-slot="input-wrapper"]::after {
  background-color: rgb(243, 18, 96) !important;
  width: 100% !important;
}